p{
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  }

h1{
  color: crimson;
  text-align: center;
}

h2{
  font-weight: 700;
  background-color: rgb(161, 197, 0);
  padding: 10px;
  border: 7px solid greenyellow;
}
section{
  background-color: bisque;
}