p{
  color: rgb(83, 79, 70); 
  text-decoration: overline goldenrod; 
  font-size: 30px;
}
#style{
  background-color: goldenrod; 
  height: 500px; 
  background-image: url(../Image/landscape-photography-tips-yosemite-valley-feature.webp);
}

.pic{
  font-size: 30px; height: 300px; width: 800px; 
  background-image: url(../Image/mountains-55067__340.webp); 
  text-align: center; 
  background-color: rgb(227, 230, 233); 
  background-blend-mode: multiply;
  background-size: cover; 
  background-position: right; 
  background-repeat: unset;
}

ol li{
  background-color: red; 
  width: 60%; 
  font-weight: 900; 
  font-size: 20px;
  border: 20px solid yellow; 
  border-radius: 20%;
  color: rgb(235, 162, 162);
  font-size: 20px;
  display: inline;
}

h3{

 font-size: 50px; 
 color: magenta;
 text-decoration: underline dotted blue;
 border: 10px solid lightgreen;
 border-radius: 30%;
 width: 210px;
 height: 70px;
 background-color: coral;


}

/* .wave{
  text-decoration: underline wavy rgb(206, 236, 33);
} */

samp{
  font-size: 30px;
  color: red;
   border: 5px solid rgb(12, 138, 221);
   height: 40px;
   width: 150px;
     display: inline-block;
     background-color: blueviolet;
     box-shadow: 6px 6px 3px rgb(131, 129, 129);

 
}



.cow{
  border: 2px solid yellow;
}
